/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340 lightblue 193*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --list-item: #fff;
    --list-item-outline: hsl(var(--hue-color), 69%, 61%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Rubik', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --list-item: hsl(var(--hue-color), 30%, 20%);
  --list-item-outline: hsl(var(--hue-color), 30%, 40%);
  --container-color: hsl(var(--hue-color),29%,16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}



h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1-5);
  }
  
  .section__title, 
  .section__subtitle {
    text-align: center;
  }

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
  }

/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width: 767px){
  .nav__menu{
    position:fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}



/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--max-content
{
  max-width: max-content;
  align-self: center;
}

/*==================== HOME ====================*/
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__img{
  grid-column: 1/3;
  text-align: center;
}

.home__img-pic{
  background-color: var(--first-color);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid var(--first-color);
  box-shadow: 0 4px 16px var(--first-color);
  animation: home__glow 3s infinite alternate;
}

@keyframes home__glow {
  from{
    box-shadow: 0 4px 16px var(--first-color);
  }
  to {
    box-shadow: 0 4px 32px var(--first-color);
  }
}

.home__blob-img{
  width: 170px;
}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
  margin-top: var(--mb-1-5);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__button{
  display: flex;
  justify-content: center;
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover{
  transform: translateY(0.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-down{
  font-size: 1.25rem;
}

/*==================== ABOUT ====================*/

.about__description{
  margin-bottom: var(--mb-2-5);
}


.about__button{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*==================== SKILLS ====================*/
.skills__container{
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1rem;
  
}

.skills__logo-card{
  max-width: 120px;
  text-align: center;
  margin-bottom: var(--mb-1-5);
  
}

.skills__logo-card svg{
  width: 100px;
  height: 100px;
}

.skills__logo-img{
  max-width: 100px;
  margin-bottom: var(--mb-1-5);
}

.skills__logo-image{
  transform: scale(1);
  filter: opacity(80%);
}

.skills__logo-img:hover{
  filter: opacity(80%);
  transition: .3s;
}

.skills__title{
  display:inline-flex;
  margin-bottom: var(--mb-0-75);
  
  
}

/*==================== PORTFOLIO ====================*/
.portfolio__container{
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.portfolio__content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.6rem 1.5rem 2rem 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  transition: .3s;
}

.portfolio__content:hover{
  box-shadow: 0 2px 16px rgba(0, 0, 0, .15);
}

.portfolio__item-img{
  width: auto;
  border-radius: .5rem;
  margin-bottom: var(--mb-1-5);
  background-color: var(--text-color);
}

.portfolio__item-title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}

.portfolio__item-subtitle{
  display: flex;
  justify-content: center;
  font-size: var(--small-font-size);
}

.portfolio__item-description{
  margin-bottom: var(--mb-1);
}

.portfolio__item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
  margin-bottom: var(--mb-1-5);
  margin-top: var(--mb-0-5);
}

.portfolio__button{
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 150px;
}

.portfolio__item-list-item{
  color: var(--first-color);
  background-color: var(--list-item);
  padding: .25rem .75rem;
  border-radius: .5rem;
  border: 2px solid var(--list-item-outline);
}

.portfolio__modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  align-items: flex-start;
  max-height: 100vh;
  overflow-y: auto;
}

.portfolio__modal-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: .5rem;
}

.portfolio__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.portfolio__modal-description{
  margin-bottom: var(--mb-1-5);
}

.portfolio__modal-item-links{
  text-align: center;
}

.portfolio__modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
  background-color: var(--list-item);
  border-radius: 50%;
  border: 2px solid var(--first-color);
}


/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}

.active-modal__disable-scroll{
  overflow: hidden;
}

/*==================== CONTACT ====================*/
.contact__container{
  row-gap: 3rem;
}

.contact__content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/
.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__copy{
  color: #fff;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__links{
  display: flex;
  column-gap: 2rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  margin-top: var(--mb-2);
  color: var(--first-color-lighter);
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: .5rem .55rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }

  .nav__list{
    column-gap: 0;
  }

  
.about__button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

  .skills__logo-card{
    max-width: 80px;
    font-size: var(--small-font-size);
  }
  .skills__logo-card svg{
    transform: scale(0.5);
  }
  .skills__title{
    display:inline-flex;
    margin-bottom: var(--mb-0-25);  
  }

  .footer__title{
    text-align: center;
  }
  .footer__main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

}